body {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
.clearfix:after {
	content: '';
	height: 0;
	line-height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}
.clearfix {
	*zoom:1;
}

/*主页*/
#mapholder{
	height: 100vh;
	width: 100%;
}
#legend {
	font-family: Arial, sans-serif;
	background-color: #fff;
	padding: 10px;
	margin: 20px;
	border: 3px solid #000;
}
#legend h3 {
	margin-top: 0;
	text-align: center;
}
#legend img {
	margin-top: 10px;
	vertical-align: middle;
}

@media screen and ( max-width: 767px ){
	#legend {
		margin: 5px;
	}
	#legend img {
		width: 20px;
		height: 20px;
		margin-top: 5px;
		vertical-align: middle;
	}
}

/*子页*/
main {
	width: 100%;
	height: 100vh;
	background: #eef;
}
#status {
	width: 50%;
	height: 100vh;
	float: left;
	padding: 50px;
	box-sizing: border-box;
	/*border-right: 3px solid white;*/
}
#data {
	width: 50%;
	height: 100vh;
	float: left;
	padding: 50px;
	box-sizing: border-box;
	font-size: 1.3em;
	color: #eef;
	background-color: #424B62;
	overflow: hidden;
}
#data ul {
	width: 75%;
	padding: 50px;
	margin: 50px auto;
	height: auto;
	background-color: rgba(255, 255, 255, .2);
	/*box-shadow: 0px 0px 50px #ccc	;*/
}
#data li {
	width: 100%;
	line-height: 45px;
}
#data .type {
	width: 50%;
	float: left;
}
#data .detial {
	width: 50%;
	float: right;
}
#needClean {
	width: 150px;
	height: 50px;
	line-height: 50px;
	margin: 50px auto;
	text-align: center;
	border-radius: 50px;
	color: #424B62;
	background-color: #eef;
}

/*管理页面*/
#manegeMain {
	width: 100%;
	height: calc(100vh - 70px);
	background-color: #f9f9f9;
}
nav {
	width: 100%;
	height: 70px;
	line-height: 60px;
	text-align: center;
	background-color: #424B62;
}
nav>img {
	float: left;
	vertical-align: middle;
	margin-top: 10px;
	margin-left: calc(50% - 150px);
}
nav>h1 {
	margin: 0;
	float: left;
	color: #eef;
	letter-spacing: 3px;
}
table{
    position:absolute;
    top:120px;
    left:5%;
    width:90%;
    border:#787a6d solid 2px;
    border-collapse:collapse;
}
th,
td{
    border:#bebfb2 solid 1px;
    border-collapse:collapse;
    text-align:center;
}
tr:nth-child(even){
    background-color:#f9f9f9;
}
tr:nth-child(odd){
    background-color:#f6f0f0;
}
th{
    height:40px;
    background-color:#cfbdb9;
    font-weight:100;
    color:#f2f2f2;
}
td{
    height:50px;
}
td input{
    display:none;
}
td>span{
    top:11px;
    height:28px;
}
